.container-h {
  width: 80%;
  margin: 0 auto;
}

img {
  width: 50px;
}

ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

a {
  text-decoration: none;
  color: black;
  font-size: 15px;
}

.main-top {
  background-image: url(/images/jumbotron.jpg?1b0a3671766964a4114f90322970b124);
  height: 400px;
  width: 100%;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

