
.container-h {
    width: 80%;
    margin: 0 auto;
}

.container-h img {
    width: 50px;
    margin-top: 1em;
    margin-bottom: 1em;
    
}

.container-h ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

a {
    text-decoration: none;
    color: black;
    font-size: 15px;
}