.main-top {
    background-image: url('../../../public/img/jumbotron.jpg');
    height: 400px;
    width: 100%;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}